div(id="#{id}" class="window")
	div.titler
		span.controls
			button(type="button", class="remove btn btn-danger btn-xs")
				<span class="glyphicon glyphicon-remove"></span>
			button(type="button", class="slide btn btn-warning btn-xs")
				<span class="glyphicon glyphicon-retweet"></span>
			block other_controls
		span.title
			block title
	div.main
		block body


script.
	var position = parseInt(Math.random() * 100);
	$('.window').removeClass('window-fore').addClass('window-back');
	$("##{id}").removeClass('window-back').addClass('window-fore');

	$( "##{id}" ).css({top: position, left: position});
	var title_margin = (640 - $( "##{id} .title" ).width()) / 2 - $("##{id} .controls").width() ;
	$( "##{id} .title" ).css('margin-left', title_margin);
	$( "##{id}" ).draggable({ handle: ".titler" });
	$( "##{id}" ).click(function(){
		$('.window').removeClass('window-fore').addClass('window-back');
		$(this).removeClass('window-back window-note').addClass('window-fore');
	});;
	$( "##{id} .remove" ).click(function(){
		$( "##{id}" ).remove();
	});
	$( "##{id} .slide" ).click(function(){
		$( "##{id} .main" ).slideToggle();
	});

block javascript
